h1{
    text-align: center
}
*{
    box-sizing: border-box;
}



.content{
    font-size: 0;
    width: 790px;
    margin: 0 auto;
    
}
.card{
    width: 350px;
    margin-bottom: 60px;
    margin-right: 90px;     
    padding: 45px 45px 75px;
    border: 2px solid rgba(167, 202, 218, 0.4);
    background-color: #e3f3ff;
    display: inline-block;
  }
  .no-right-margin{
    margin-right: 0px;
  }
.card-image{
    width: 240px;
    height: 240px;
    
}

.card-title{
    font-size: 24px;
    font-weight: 500;
    
}
.card-text{
    font-size: 12px;
  }