.main_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.main_heading__h3{
    font-family: var(--default__font);
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: var(--blak__new);
    text-align: center;
    margin-bottom: 20px;
}

.main_heading__h5{
    font-family: var(--default__font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--gray__new);
    text-align: center;
}