:root{
    --red__new: #F53838;
    --bord__new: #F53855;
    --blak__new: #0B132A;
    --gray__new: #4F5665;
    --bej__new: #F8F8F8;
    --sv__new: #DDE0E4;
    --white__new: #FFFFFF;
    --default__font: 'Rubik', 'Verdana', sans-serif;
}

.wrapper{
    max-width: 1440px;
}