.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bej__new);
    font-family: var(--default__font);
    height: 454px;
}

.footer_business{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 450px;
    margin-left: 150px;
}

.footer_business__logo{
    background-image: url('../icons/Logo.svg');
    background-repeat: no-repeat;
    width: 148px;
    height: 46px;
    margin: 63px 0 20px 0;
}

.footer_business__h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--gray__new);
    margin-bottom: 20px;
}

.footer_business__h5 span{
    font-weight: 500;
    line-height: 30px;
}

.footer_business__social{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 160px;
    margin-bottom: 30px;
}

.footer_business__social_link{
    width: 33px;
    height: 33px;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
}

.face{
    background-image: url('../icons/Facebook.jpg');
}

.twi{
    background-image: url('../icons/Twitter.jpg');
}

.inst{
    background-image: url('../icons/Instagram.jpg');
}

.footer_business__p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #AFB5C0;
}

.footer_bloks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.nav_blok{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    margin-right: 100px;
    margin-top: 66px;
    height: 235px;
}

.nav_h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var( --blak__new);
    margin-bottom: 20px;
    text-align: left;
}

.nav__Link{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var( --gray__new);
    margin-bottom: 10px;
    text-decoration: none;
}