:root {
    --red__new: #f53838;
    --bord__new: #f53855;
    --blak__new: #0b132a;
    --gray__new: #4f5665;
    --bej__new: #f8f8f8;
    --sv__new: #dde0e4;
    --white__new: #ffffff;
    --default__font: "Rubik", "Verdana", sans-serif;
}

.wrapper {
    margin: 0 auto;
    /* max-width: 1440px; */
}